doctype html
html
	head
		title= title
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		link(rel='stylesheet', href='/css/lib/bootstrap.min.css')
		link(rel='stylesheet', href='/css/lib/font-awesome.min.css')
		link(rel='stylesheet', href='/css/lib/ionicons.min.css')
		link(rel='stylesheet', href='/css/lib/AdminLTE.css')
	body.skin-blue
		include navbar-top
		.wrapper.row-offcanvas.row-offcanvas-left
			include navbar-left
			block content
		script(src='/js/lib/jquery-2.1.1.min.js')
		script(src='/js/lib/bootstrap.min.js')
		script(src='/js/app.js')