doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='/stylesheets/sb-admin.css')
	body
		include navbar-top
		include navbar-left
		block content
		script(src='/javascripts/jquery-1.10.2.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/plugins/metisMenu/jquery.metisMenu.js')
		script(src='/javascripts/sb-admin.js')