aside.left-side.sidebar-offcanvas
	section.sidebar
		form(action='#', method='get' class='sidebar-form')
			.input-group
				input(type='text', name='q', class='form-control', placeholder='Search...')
				span.input-group-btn
					button(type='submit', name='search', id='search-btn', class='btn btn-flat')
					i.fa.fa-search
		ul.sidebar-menu
			- menuList = [{key : "Dashboard", class : "fa fa-dashboard", href : "/"}, {key : "Genre", class : "ion ion-bookmark", href : "/genre"}]
			- for (var i=0; i < menuList.length; i++)
				li(class=(menuList[i].key===activeTab ? 'active' : ''))
					a(href='#{menuList[i].href}')
						i(class='#{menuList[i].class}')
						span
							| #{menuList[i].key}