aside.left-side.sidebar-offcanvas
	section.sidebar
		form(action='#', method='get' class='sidebar-form')
			.input-group
				input(type='text', name='q', class='form-control', placeholder='Search...')
				span.input-group-btn
					button(type='submit', name='search', id='search-btn', class='btn btn-flat')
					i.fa.fa-search
		ul.sidebar-menu
			li.active
				a(href='/')
					i.fa.fa-dashboard
					span
						| Dashboard