header.header
	a(class='logo', href='/')
		| Movie Profiler
	nav(class='navbar navbar-static-top', role='navigation')
		a(href='#', class='navbar-btn sidebar-toggle', data-toggle='offcanvas', role='button')
			span.sr-only
				| Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		.navbar-right
			ul.nav.navbar-nav
				li.dropdown.user.user-menu
					a(href='#', class='dropdown-toggle', data-toggle='dropdown')
						i.glyphicon.glyphicon-user
						span
							| William